body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.list {
    list-style: none;
}

img {
    width: 300px;
}

#albumbs {
    background-color:white;
    color: black;
}

.songs {
    
}
