body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.list {
    list-style: none;
}

img {
    width: 300px;
}

#albumbs {
    background-color:white;
    color: black;
}